page-premios-solicitud {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        font-size: 116%;
    }
    .content-md {
        color: #191d69;
        background-color: #000d30;
    }
    .content-ios {
        color: #191d69;
        background-color: #fff;
    }
}
