page-visualizador-xml {
    .fab-ios-light {
        color: #fff;
        background-color: #011432;
    }
    .fab-md-light {
        color: #fff;
        background-color: #011432;
    }
    .area{
        border-radius: 5px;
        background-color: #d4d4d4;
        vertical-align: middle;
        width: 100%;
        border: none;
        margin-bottom: 8px;
    }
    .miniBoton{
        background-color: #c1272d !important;
        width: 20px !important;
        height: 20px !important;
        margin-top: -60px !important;
        margin-left: 40px !important;
    }
}
