page-datos-facturacion {
    .fab-md-light {
        color: #fff;
        background-color: #011432;
    }
    .fab-ios-light {
        color: #fff;
        background-color: #011432;
    }
    .area{
        border-radius: 5px;
        background-color: #d4d4d4;
        vertical-align: middle;
        width: 100%;
        border: none;
        margin-bottom: 8px;
    }
    .centro{
        text-align: center;
    }
    .botonGuardar{
        width: 30%;
        margin-top: 1%;
        vertical-align: top;
        border-radius: 7px;
        height: 35px;
    }

    .clm{
        display: inline-block;
    }

    .widthFull{
        width: 100%;
    }

    .widthMedium{
        width: 49.4% !important;
    }

    input{
        text-indent: 20px;
    }

    textarea{
        text-indent: 20px;
    }

    ::placeholder {
        color: #5b4f5f;
        opacity: 1; /* Firefox */
        margin-left: 12px;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: #5b4f5f;
       margin-left: 12px;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
       color: #5b4f5f;
       margin-left: 12px;
    }

    .inputText{
        border-radius: 5px;
        background-color: #d4d4d4;
        vertical-align: middle;
        height: 28px;
        width: 100%;
        border: none;
        margin-bottom: 8px;
    }

    .text-input{
        color: #000;
        border-bottom: solid 2px !important;
        border-color: #1b155c !important;
        margin-bottom: 0px;
        margin-top: 0px;
        //text-transform: uppercase;
    }

    .item-inner {
        box-shadow: none !important;
        }

        .invalid {
            border: 1px solid #ea6153;
        }

        .miniBoton{
            background-color: #c1272d !important;
            width: 20px !important;
            height: 20px !important;
            margin-top: -60px !important;
            margin-left: 40px !important;
        }
}
