page-estaciones-list {
    .item-inner {
        box-shadow: none !important;
        }
       
        .text-input{
            color: #000;
            border-bottom: solid 2px !important;
            border-color: #1b155c !important;
            margin-bottom: 0px;
            margin-top: 0px;
            width: 70%;
        }    

}
