page-mi-auto {
    qrcode{
        img{
            width: 100%;
        }
    }

    .fab-md-light {
        color: #fff;
        background-color: #001333;
    }
    .miniBoton{
        background-color: #c1272d !important;
        width: 20px !important;
        height: 20px !important;
        margin-top: -60px !important;
        margin-left: 40px !important;
    }
}
