page-cargas {
    .itemList{
        border-bottom: solid 0.7px;
        border-bottom-color: #b9b6b6;
        background-color: #001432;
        opacity: 0.9;
        color: #fff;
        border-radius: 1px 23px 1px 1px;
        margin-top: 2px;
        padding: 0;
        .item-inner{
            padding-right: 0 !important;
        }
    }

    p{
        color:#fff;
    }
    .fab-md-light {
        color: #fff;
        background-color: #011432;
    }
    .fab-ios-light {
        color: #fff;
        background-color: #011432;
    }

    ion-label {
        min-width: 40%;
        font-size: medium;
        margin: 2% 2% !important;
        padding: 0% 0% !important;
    }

    ion-select {
        min-width: 45%;
        font-size: medium;
        margin: 2% 2% !important;
        padding: 0% 0% !important;
        border-bottom: solid 0.7px;
        border-bottom-color: black;
    }

    ion-datetime {
        min-width: 45%;
        font-size: medium;
        margin: 2% 2% !important;
        padding: 0% 0% !important;
    }

    .miniBoton{
        background-color: #c1272d !important;
        width: 20px !important;
        height: 20px !important;
        margin-top: -60px !important;
        margin-left: 40px !important;
    }

    .datetime-text{
        color: #000;
        border-bottom: solid 2px !important;
        border-color: #1b155c !important;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .itemD{
        min-height: 5% !important;
        padding-left: 0;
      }
}
