<ion-header>
  <ion-navbar color="titulo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="tituloHeader" style="position: absolute;left: 25%; top: 33%;">Recompenzas</ion-title>


    <ion-buttons left *ngIf="!isOn" class="animated fadeIn">
      <button icon-only="" ion-button="" class="disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios">
        <span class="button-inner">
          <img src="assets/imgs/premios/promo.png" style="width: 65%;margin-left: -27px;">
        </span>
        <div class="button-effect">

        </div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding style="
    background-image: url(assets/imgs/fondo.jpg); 
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: white;" class="animated fadeIn">
    <!--<div style="color: #333a98;text-align: center;font-size: 120%;font-weight: 500;margin-bottom: 10px">
      Puntos: {{loginForm.value.puntos}}</div>
      <p *ngIf="loginForm.value.puntos < loginForm.value.puntos2" style="text-align: justify;">Los puntos son suficientes para canjear los premios seleccionados. Artículos sujetos a disponibilidad, acude a tu estación mas cercana lo antes posible. El ultimo día para canje es el 31 de diciembre del año en curso. </p>
      <div *ngIf="loginForm.value.puntos < loginForm.value.puntos2" style="color: #333a98;text-align: center;font-size: 120%;font-weight: 500;margin-bottom: 10px" (click)="canjear()"><u>Canjear
        Puntos</u></div>-->
  <div style="width:100%;text-align: center;">
    <div *ngFor="let premio of premios" style="display:inline-block;width: 46%;margin: 3px;">
      <div style="border: 1px solid #c3c3c3;">
        <div>
          <img src="{{premio.img}}" style="width: 100%;">
        </div>
      </div>
      <div style="border: 1px solid #c3c3c3;">
        <div style="font-size: 70%;">
          <strong>{{premio.descripcion}}</strong>
        </div>
        <div style="font-size: 100%;color: #432f7f">
          <ion-checkbox [(ngModel)]="premio.seleccionado" color="primary" style="margin-right: 0.6em;" (ionChange)="restarPuntos($event,premio.id)"> </ion-checkbox><strong>{{premio.canje}} PUNTOS</strong>
        </div>
        <div style="font-size: 80%;">
          ó llévatelo por
        </div>
        <div style="font-size: 100%;color: #a81f58;font-style: italic;">
          <ion-checkbox [(ngModel)]="premio.seleccionado" color="primary" style="margin-right: 0.6em;" (ionChange)="restarPuntos($event,premio.id,1)"> </ion-checkbox><strong>{{premio.canjeOpcional}} PUNTOS + ${{premio.monto}}</strong>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-fab top style="margin-top: 13%; width: 95%; margin-left: 2.5%;">
  <ion-row style="background-color: #10358a; border-radius: 6px; padding: 12px 0; text-align: center; color: white; font-size: 18px;">
    <ion-col>PUNTOS<br>TOTALES<br><div style="font-weight: bold;">40,508</div></ion-col>
    <ion-col style="border-left: 2px solid white;">PUNTOS<br>DISPONIBLES<br><div style="font-weight: bold; color: #e97523;">10,508</div></ion-col>
    <ion-col style="border-left: 2px solid white;"><br>POR PAGAR<br><div style="font-weight: bold; color: #e97523;">$80.00</div></ion-col>
  </ion-row>
</ion-fab>