page-registro-valida-correo-credito {
    .inputText{
        border-radius: 5px;
        background-color: #d4d4d4;
        vertical-align: middle;
        height: 28px;
        width: 100%;
        border: none;
        margin-bottom: 8px;
        padding-left: 14px;
        font-size: 120%;
    }
}
