<ion-header>
  <ion-navbar color="titulo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="tituloHeader" style="position: absolute;left: 25%; top: 33%;">Vehículos</ion-title>

    <ion-buttons left class="animated fadeIn">
      <button icon-only="" ion-button="" class="disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios">
        <span class="button-inner">
          <img src="assets/imgs/miAuto/carro.png" style="width: 65%;margin-left: -27px;">
        </span>
        <div class="button-effect">

        </div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding style="
background-image: url(assets/imgs/fondo.jpg); 
background-size: 100%;
background-position: bottom center;
background-repeat: no-repeat;
background-color: white;">
  <div style="width:100%">
    <ion-item style="width:100%">
      <ion-label position="floating" style="color:#1b155c;">Estado</ion-label>
      <ion-select [(ngModel)]="idEstado" style="color:#000" okText="Aceptar" cancelText="Cancelar" (ionChange)="buscar()"> 
        <ion-option *ngFor="let estado of estados" value="{{estado.id}}">{{estado.descripcion}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" [(ngModel)]="busquedaVeh" (ionChange)="buscarInput()"></ion-searchbar>
  </ion-toolbar>
  <div style="width:100%;background: #001432;
  color: #fff;">
    <div style="width:32%;display: inline-block;text-align: center;font-size: 120%;
    font-weight: 600;" (click)="ordenar()">Placa<div style="background-color: white;" class="divorder"><ion-icon *ngIf="ordenPlaca == 1" name="chevron-down-outline" class="iconoo"></ion-icon><ion-icon *ngIf="ordenPlaca == 2" name="chevron-up-outline" class="iconoo"></ion-icon><ion-icon *ngIf="ordenPlaca == 0" name="chevron-forward-outline" class="iconoo"></ion-icon></div></div>
    <div style="width:38%;display: inline-block;text-align: center;font-size: 120%;
    font-weight: 600;" (click)="ordenar(1)">Descripción<div style="background-color: white;" class="divorder"><ion-icon *ngIf="ordenDesc == 1" name="chevron-down-outline" class="iconoo"></ion-icon><ion-icon *ngIf="ordenDesc == 2" name="chevron-up-outline" class="iconoo"></ion-icon><ion-icon *ngIf="ordenDesc == 0" name="chevron-forward-outline" class="iconoo"></ion-icon></div></div>
    <div style="width:26%;display: inline-block;text-align: center;font-size: 120%;
    font-weight: 600;">Último KM</div>
  </div>
  <div (click)="openVehiculo(vehiculo)" *ngFor="let vehiculo of vehiculos; let i=index" [ngStyle]="{'background-color': (i % 2 === 0 ? '#cccccc' : 'white')}" style="    padding-top: 15px;
  padding-bottom: 15px;     display: flex; align-items: center; "
  >
    <div style="width:32%;display: inline-block;text-align: left;">{{vehiculo.placa}}</div>
    <div style="width:32%;display: inline-block;text-align: left;">{{vehiculo.descripcion}}</div>
    <div style="width:32%;display: inline-block;text-align: right;">{{vehiculo.ultimoKilometraje | number: '2.'}}</div>
  </div>
</ion-content>

<ion-fab top right class="animated swing">
  <button ion-fab color="light" (click)="mostrarNotif.abrirNotificacion()">
      <img src="assets/imgs/home/gas-station.png" alt="logo" class="claseImg animated fadeIn" />
  </button>
  <button *ngIf="notificacion.num > 0" ion-fab color="light" (click)="mostrarNotif.abrirNotificacion()" class="miniBoton">
    {{notificacion.num}}
</button>
</ion-fab>