page-estaciones {
    ion-label{
        color: #000;
    }
    .fab-md-light.activated {
        background-color: #011432;
    }
    .tipoGas{
        position: absolute;
        margin-left: -72px;
        margin-top: 28px;
    }
    .imagenEnd{
        width: 25px;
        display: block
    }
    .middle{
        vertical-align: initial;
    }
    .widthFull{
        width: 107%;
    }
    .miniBoton{
        background-color: #c1272d !important;
        width: 20px !important;
        height: 20px !important;
        margin-top: -72px !important;
        margin-left: 51px !important;
    }
    p{
        color: #fff;
    }
    .fab-ios-light {
        color: #fff;
        background-color: #011432;
    }
    .imageGas{
        margin-top: 1px;
    }
    .fab {
        text-align: center;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;
        position: relative;
        z-index: 0;
        display: block;
        overflow: hidden;
        width: 71px;
        height: 71px;
        font-size: 14px;
        line-height: 56px;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        -webkit-transition: background-color, opacity 100ms linear;
        transition: background-color, opacity 100ms linear;
        background-clip: padding-box;
        -webkit-font-kerning: none;
        font-kerning: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        contain: strict;
    }

    .iconoVehiculo{
        color: #fff;
        zoom: 1.5;
    }
    .itemVehiculo{
        margin-bottom: 2px;
    }
    .nombreEstacion{
        display: inline-block;
        margin-left: 10px;
        color: #fff;
        width: 81%;
        font-size: 150%;
    }
    .iconoGasolina{
        margin-top: 12px;
    }
    .expandible{
        background-color: #001432;
        border-radius: 1px 16px 1px 1px;
        height: 54px;
    }
    .divGasoline{
        text-align: center;
        width: 100%; 
    }
    .divPresentacionAutos{
        width: 90%;
    }
    .clm{
        display: inline-block;
    }
    .accordion {
        background-color: #001432;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 97%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        height: 35px;
      }
    
      .active, .accordion:hover {
          background-color: #ccc; 
      }
    
      .panel {
          padding: 0 18px;
          display: none;
          background-color: white;
          overflow: hidden;
      }
    
      .accordion-list {
          background: color($colors, light);
          height: 100%;
      }
      .section {
          background: #fff;
          color: #000;
          margin-bottom: 4px;
      }
      .section-active {
          background: #ffc400;
          color: #fff;
      }
    
      .child {
          background: #e8e7e6;
          color: #000;
          margin-bottom: 4px;
      }
      .child-item {
          background: #f3f2f1;
          padding: 10px;
      }
      .label {
          margin: 0px;
      }
      .list {
          margin-bottom: 4px;
      }
    
      .content-md {
        color: #000;
        background-color: #020f32;
      }
    
      .alertCustomCss2 {
        width: 100%;
        color: black !important;
        background-color: #11b6e4 !important;
        text-align: center !important;
        width: 45%;
        display: inline-block;
      }
    
      .alertCustomCss2 .alert-message {
        color: #000;
      }
    
      .alert-md .alert-button-group {
        -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: center;
        padding: 8px 8px 8px 24px;
      }
    
      .contentHome{
        background-image: url(assets/imgs/gaso.png); 
        background-size: 400%;
        background-position: center center;
        background-color: #d4ddec
      }
      .gasStation{
        position: absolute;
        margin-left: 11px;
    
        img{
          width: 75%;
          border-radius: 45px;
        }
      }
      .tituloKenergy{
        margin-top: 34%;
        margin-left: 15px;
        .titulo1{
          border-style: none;
          border-bottom: none;
          color:#020f32;
          font-size: 149%;
          background-color: #fff0;
        }
        .titulo2{
          font-size: 68%;
          border-style: none;
          border-bottom: none;
          color:#020f32;
          font-size: 94%;
          background-color: #fff0;
        }
      }
    
      .tituloAutos{
        //text-align: center;
        color: #020f32;
        font-size: 127%;
        margin-bottom: 11px;margin-top: 29px;
        background-color: #c1272d;
        /* height: 7%; */
        color: #fff;
        padding: 3%;
        border-radius: 7px;    
      }
    
      .lista{
        ion-item{
          background-color: #001432;
          border-radius: 8px;
          color: #fff;
    
          ion-avatar{
            //background-color: #ffffff6b;
              border-radius: 20px;
          }
          p{
            color:#fff;
          }
        }
      }
    
      .precioGas{
        text-align: center;
        background-color: #b3b3b3;
        font-size: 150%;
        margin-top: -4px;
        font-family: digital-7regular;
      }
    
      .containerGas{
        display: inline-block;
        width: 33%;
        margin: -1px;
      }
      .fab-md-light {
        color: #fff;
        background-color: #011432;
      }
      ion-icon {
        display: inline-block;
        font-size: 3em;
        color: #fff;
      }

      agm-map {
        height: 100%;
        width: 100%;
      }

      .navegar{
        font-size: 1em;
        color: #020f32;
      }

      .botonnav{
        background-color: white;
        color: #020f32;
        height: 1.8em;
        float: right;
        margin-right: -2em !important;
        border-radius: 8px;
        margin-top: 5%;
      }

      
}
