page-registro {
    .area{
        border-radius: 5px;
        background-color: #d4d4d4;
        vertical-align: middle;
        width: 100%;
        border: none;
        margin-bottom: 8px;
    }
    .centro{
        text-align: right;
    }
    .botonGuardar{
        width: 30%;
        margin-top: 1%;
        background-color: #009245;
        vertical-align: top;
        border-radius: 7px;
    }

    .clm{
        display: inline-block;
    }

    .widthFull{
        width: 100%;
    }

    .widthMedium{
        width: 49.4% !important;
    }

    input{
        text-indent: 20px;
    }

    textarea{
        text-indent: 20px;
    }

    ::placeholder {
        color: #5b4f5f;
        opacity: 1; /* Firefox */
        margin-left: 12px;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: #5b4f5f;
       margin-left: 12px;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
       color: #5b4f5f;
       margin-left: 12px;
    }

    .inputText{
        border-radius: 5px;
        background-color: #d4d4d4;
        vertical-align: middle;
        height: 28px;
        width: 100%;
        border: none;
        margin-bottom: 8px;
        padding-left: 14px;
        font-size: 120%;
    }
    .button-clear-md {
        border-color: transparent;
        color: #000000;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
    }
    .button-clear-ios {
        border-color: transparent;
        color: #000000;
        background-color: transparent;
    }

    .tituloDiv{
        font-size: 123%;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 8px;
    }
}
